.career-part{
  background-color: #f4f6ef;
  padding: 1em;
}
.career-part h3{
  margin-left: 1em;
  padding-top: 1.25em;
}
.career-id {
  display: flex;
  justify-content: center;
}

.c {
  position: relative; /* Add relative positioning to the .c elements */
  color: white;
  text-align: center;
  width: 20em;
  height: 22.5em;
  background-color: black;
  margin: 0 0.5em;
  transition: width 0.3s ease;
}

.c:hover {
  width: 35em;
}

.expanded {
  width: 35em;
}

.career-id img {
  position: relative;
  width: 100%;
  height: 100%;
}

.career-id span {
  position: absolute;
  top: 5%;
  left: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.2); /* Add background color with opacity */
  padding: 0.3em; /* Adjust padding as needed */
  border-radius: 5%;
}
.career-id .c:hover span,.career-id .c:hover button {

  z-index: 2;
}
.career-id button {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: white;
  background-color: rgba(0, 0, 0, 0.2); /* Add background color with opacity */
  padding: 0.3em; /* Adjust padding as needed */
  border-radius: 5%;
}
