.image-slider {
  width: 100%;
  position: relative;
}

.slide {
  width: 100%;
  display: flex;

  height: 90vh;
  gap: 0px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f6f4ef;
}

.slide img {
  /* transform: scale(0.8); */
  padding: 69px 0;
  height: 97vh;
  object-fit: cover;
}

.slide .current-image {
  position: relative;
  padding: 0%;
  border-radius: 3%;
  width: 100%;
  height: 97vh;
  transform: scale(0.82);
  opacity: 0.9;
  object-fit: cover;
  transition: transform 0.2s ease-out;
}

.image-text {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 50%;
  top: 10%;
}

.image-text h3 {
  font-size: 35px;
}

.prev-button,
.next-button {
  color: #f4f6ef;
  width: 30;
  height: inherit;
  font-size: 30px;
  position: absolute;
  right: 5em;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.prev-button {
  bottom: 5em;
}

.next-button {
  bottom: 3.5em;
}

.pause-button {
  color: #f4f6ef;
  width: 3;
  height: 30;
  font-size: 30px;
  position: absolute;
  right: 5em;
  bottom: 2em;
  background-color: transparent;
  border: none;
  border-radius: 5px;

}

.slide-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.current-image {
  opacity: 0.95;
}

.prev-button>span:hover,
.next-button>span:hover,
.pause-button:hover {
  opacity: 0.4;
}

.image-text p {
  display: none;
  font-weight: 600;
}

.image-text button {
  display: none;
}

.image-text:hover button {
  display: block;
  text-decoration: none;
  all: unset;
  cursor: pointer;
  font-weight: 700;
  transform: scale(1.1);
}

.slide .current-image:hover+.image-text button {
  display: block;
  text-decoration: none;
  all: unset;
  cursor: pointer;
}

.slide .current-image:hover+.image-text p {
  display: block;
}

.slide .current-image:hover {
  opacity: 0.35;
  color: rgba(0, 0, 0, 0.2);
}

.image-text:hover p {
  display: block;
}

.current-image:has(+ .image-text:hover) {
  margin: 0 5%;
  transform: scale(1.15);
  height: 95vh;
  width: 100%;
  opacity: 0.35;
  box-shadow: 0 20px 200px rgba(0, 0, 0, 1);
}

.image-text h3 {
  color: black;
  font-weight: 900;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (min-width:501px) {

  .slide .current-image:hover {
    margin: 0 5%;
    transform: scale(1.15);
    height: 95vh;
    width: 100%;
    box-shadow: 0 20px 200px rgba(0, 0, 0, 1);
  }
}

@media(max-width:500px) {
  .slide {
    width: 100%;
    display: flex;

    height: 500px;
    gap: 0px;
    align-items: flex-start;

    overflow: hidden;
    background-color: #f6f4ef;
  }

  .image-text p {
    display: block;
  }

  .image-text button {
    display: block;
    text-decoration: none;
    all: unset;
    cursor: pointer;
    font-weight: 700;
    transform: scale(1.1);
  }



  .slide .current-image {
    padding: 0%;
    border-radius: 3%;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transform: scale(0.95);
    object-fit: cover;
    transition: transform 0.2s ease-out;
  }

  .prev-button,
  .next-button {
    color: #f4f6ef;

    font-size: 30px;
    position: absolute;
    right: 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
  }

  .prev-button {
    bottom: 132px;
  }

  .next-button {
    bottom: 100px;
  }

  .pause-button {
    color: #f4f6ef;

    font-size: 30px;
    position: absolute;
    right: 12px;
    bottom: 65px;
    background-color: transparent;
    border: none;
    border-radius: 5px;

  }

  .prev-button span svg,
  .next-button span svg {
    width: 25px;
    height: 25px;
  }

  .pause-button svg {
    width: 22.5px;
    height: 22.5px;
  }
}