.body {
    align-items: center;
    justify-content: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px*3));
    }
}

.scroller {
    padding-top: 30px;
    height: 130px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    background-color: #f4f6ef;
    white-space: nowrap;
}

.scroller .scroll-track {
    animation: scroll 20s linear infinite;
    display: flex;
    /* justify-content: space-evenly; */
    width: calc(250px*6);
}

.scroller .scroll {
    height: 100px;
    width: min-content;
}

#1point1 {
    height: 100px;
    width: 130px;
}

#quess {
    height: 100px;
    width: 400px;
}

#virtusa {
    height: 100px;
    width: 120px;
}

#wipro {
    height: 100px;
    width: 200px;
}