.process {
    padding-top: 2em;
    display: flex;
    flex-direction: row-reverse;
    background-color: #f4f6ef;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-process {
    user-select: none;
    align-items: flex-start;
    width: 35%;
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease;
}

.about-process:hover {
    transform: scale(1.1);
}

.about-process h3 {
    text-align: center;
    color: darkgreen;
    margin-bottom: 1em;

    font-size: 2.5em;
}

.about-process div {
    justify-content: center;
    background-color: rgb(210, 241, 231);
    padding: 1em;
    border-radius: 1em;
    width: 70%;
    height: 70%;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);

}

.process-shape {
    width: 65%;
}

.process-shape svg path {
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.about-process div label,
article {
    font-size: 1.75em;
}

.about-process div p {
    margin-top: 1em;
}

.process-shape circle {
    transition: fill 0.6s ease-in-out;

}

.active {
    font-size: 1.5em;
}

.mobile-process {
    display: none;
}

/* .process {
    stroke-dasharray: 3000;
    stroke-dashoffset: 3000;
    transition: stroke-dashoffset 4s linear;
}

.process:active {
    stroke-dashoffset: 0;
} */
@media(max-width:1000px) {
    .process-shape {
        display: none;
    }

    .mobile-process {
        display: block;
    }

    .about-process {
        width: 100%;
        align-items: center;
    }

    .process {
        padding-top: 30px;
    }

    .about-process h3 {
        font-size: 25px;
    }

    .about-process div {
        height: 270px;
        width: 75%;
        padding: 10px;
    }

    text {
        font-size: 12.5px;
    }

    text.active {
        font-size: 15.5px;
    }

    .mobile-process svg circle {
        size: 10px;
    }

    .about-process div label,
    .about-process article {
        font-size: 17.5px;
    }

    .about-process div p {
        font-size: 15px;
    }

    .about-process h3 {
        font-size: 20px;
    }
}